@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

body {
  background-color: black;
  color: white;
  margin: 0;
}

.inter-font {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}

.banner {
  padding: 30px 30px;
  background-color: rgba(255, 255, 255, 0.1);
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17) 2.037%,
    rgba(119, 119, 119, 0) 100%
  );
}

.margin-auto {
  max-width: 1440px;
  margin: 0 auto;
}

.siteName-navbar {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sitename {
  font-style: italic;
  font-size: 2.25rem;
  font-weight: 800;
  color: rgb(230, 83, 60);
}

.nav-lists {
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 2.5rem;
  padding-left: 0rem;
}

.navbar li {
  list-style: none;
  margin-right: 3rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.navbar a {
  font-weight: 400;
  font-size: 1.125rem;
  color: white;
  text-decoration: none;
}

.nav-icon {
  display: none;
}

.home {
  border-radius: 2.8rem;
  background-color: rgb(230, 83, 60);
  border: 1px solid white;
  padding: 0.5rem 1.25rem;
}

.bodyShape-dumble {
  display: flex;
}

.bodyShape .bodyShape-title {
  font-weight: 900;
  font-size: 78px;
}

.shape {
  font-family: 'Miama';
}

.shape-description {
  font-weight: 400;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
}

.btn-primary {
  color: white;
  padding: 1rem 1.5rem;
  border-radius: 2.6rem;
  font-size: 1rem;
  font-weight: 600;
  margin-right: 5px;
  margin-top: 20px;
}

.wider-button {
  width: 200px;
}

.bg-orange {
  background-color: rgb(230, 83, 60);
  border: transparent;
}

.bg-transparent {
  background: transparent;
  border: 1px solid white;
}

.dumbbell {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.dumbbell .dumbbell-boy {
  margin-left: 200px;
}

.card {
  width: 180px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  background: rgba(48, 48, 48, 0.54);
  border-radius: 15px;
  backdrop-filter: blur(10px);
  color: white;

  text-align: center;
  position: absolute;
}

.red-circle {
  margin-left: 0px;
}

.card1 {
  top: 400px; /* Positioning the first card at the bottom left */
  left: 100px;
}

.card2 {
  top: 180px; /* Positioning the second card at the top right */
  right: 5px;
}

.card-text {
  font-size: 2.5rem;
  font-weight: 900;
}

.card-subtext {
  color: rgba(255, 255, 255, 0.65);
  font-size: 0.8rem;
  font-weight: 400;
}

/* Header End */
/* Main Starts */

main {
  padding: 30px 30px;
  max-width: 1440px;
  margin: 70px auto;
}

/* Habit Change Section */

.habit-title-subtext,
.meet-title-subtext,
.bmi-title-subtext {
  text-align: center;
  margin-top: 50px;
}

.habit-change-title,
.extra-mile-title,
.meet-title,
.bmi-title {
  font-size: 2.5rem;
  font-weight: 900;
}

.habit-change-subtext,
.meet-subtext,
.bmi-subtext,
.calculate-bmi-subtext {
  font-weight: 400;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
}

.habit-change-image-cards {
  margin: 60px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.habit-change-image-card {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.habit-img img {
  width: 80%;
  border-radius: 50%;
}

.habit-description,
.extra-mile-description {
  color: rgba(255, 255, 255, 0.5);
}

.extra-mile-containers {
  background-color: rgb(34, 34, 34);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 18px;
  justify-content: center;
  align-items: center;
}

.extra-mile-container {
  margin: 41px;
}

.extra-mile-image img {
  width: 80%;
  padding: 40px;
  border-radius: 100px;
}

.teammates {
  background-color: rgb(34, 34, 34);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 80px;
}

.teammate {
  position: relative;
  padding: 20px;
}

.teammate img {
  width: 100%;
  height: 100%;
  border-radius: 18px;
}

.text-overlay {
  position: absolute;
  bottom: 40px;
  left: 50px;
  color: white;
  font-size: 20px;
}

.trainer-name {
  display: block;
  font-weight: bold;
  font-size: 24px;
}

.occupation {
  display: block;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
}

/* Footer section */

.footer-section,
.bmi {
  margin: 0;
  /* padding: 0; */
  background-color: rgb(34, 34, 34);
}

.footer-heading {
  font-size: 4.2rem;
  font-weight: 800;
  font-style: italic;
  color: rgb(230, 83, 60);
}

.footer-description {
  color: rgba(255, 255, 255, 0.5);

  font-size: 1rem;
  font-weight: 400;
}

.footer-contents {
  max-width: 1440px;
  margin: 70px auto;

  padding: 30px 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
}

.footer-ul li {
  list-style: none;
  margin-bottom: 20px;
}

.footer-ul a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 1.5rem;
}

.get-started {
  font-weight: 700;
  font-size: 2rem;
  color: rgb(255, 255, 255);
}

.horizontal-line {
  border-top: 2px solid tomato;
  max-width: 1200px;
  margin: 30px auto;
}

.rights {
  padding: 50px;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}

/* BMI Calculation */

.bmi-contents {
  max-width: 1440px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}
.bmi-content {
  margin: 0px auto;
  padding: 30px;
}

.table-chart {
  /* border: 2px solid tomato; */
}

.table-chart h2 {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

table.bmi-chart {
  /* width: 60%;
  margin: 0 auto; */
  border-collapse: collapse;
  background-color: rgb(34, 34, 34);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

table.bmi-chart th,
table.bmi-chart td {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px;
  text-align: left;
}

table.bmi-chart th {
  font-weight: bold;
  font-size: 18px;
}

table.bmi-chart td {
  font-size: 16px;
}

td {
  color: rgba(255, 255, 255, 0.5);
}

select option {
  background-color: tomato;
  color: white;
}

select option:hover {
  background-color: white;
}

.height-div {
  grid-area: height-div;
}

.weight-div {
  grid-area: weight-div;
}

.age-div {
  grid-area: age-div;
}

.sex-div {
  grid-area: sex-div;
}

.activity-factor-div {
  grid-area: activity-factor-div;
}

.all-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'height-div weight-div'
    'age-div sex-div'
    'activity-factor-div activity-factor-div';
  gap: 10px;
}

/* Input fields style */
input,
select {
  margin: 5px;
  border: transparent;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  padding: 12px 16px;
  color: rgba(255, 255, 255, 0.6);
  width: 100%; /* Full width */
  box-sizing: border-box;
}

/* Grid areas for input fields */
.height-div,
.weight-div,
.age-div,
.sex-div,
.activity-factor-div {
  width: 100%;
}

@media screen and (max-width: 576px) {
  .banner {
    padding: 30px;
  }

  .navbar {
    display: none;
  }

  .nav-icon {
    display: block;
  }
  .nav-icon-img {
    height: 40px;
    width: 40px;
  }

  .bodyShape .bodyShape-title {
    font-weight: 900;
    font-size: 3rem;
  }

  .bodyShape-dumble {
    flex-direction: column;
  }

  .dumbbell .dumbbell-boy {
    margin-left: 38px;
  }

  .card1 {
    top: 400px;
    left: 40px;
  }

  .card2 {
    top: 200px;
    right: 20px;
  }

  /* Habit Description */

  .habit-change-image-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .extra-mile-containers {
    grid-template-columns: repeat(1, 1fr);
    /* margin: 15px; */
  }

  /*  Meet our team Team */
  .teammates {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer-contents {
    grid-template-columns: repeat(1, 1fr);
  }

  .horizontal-line {
    margin: 70px;
  }

  /* BMI contents */

  .bmi-contents {
    grid-template-columns: repeat(1, 1fr);
  }

  .all-inputs {
    grid-template-areas:
      'height-div weight-div'
      'age-div sex-div'
      'activity-factor-div activity-factor-div';
    gap: 10px;
  }

  .height-div,
  .weight-div,
  .age-div,
  .sex-div,
  .activity-factor-div {
    width: 100%;
  }
}
